In [1]:
# Dependencies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import pymongo
from pymongo import MongoClient
import os

In [2]:
# Save path to data set in a variable
data_file = "C:\\Users\\taiwo\\OneDrive\\Desktop\\PREWORK_TO\\Module 16\\Project2\\Data Files\\population-density.csv"

In [3]:
# Use Pandas to read data
data_file_pd = pd.read_csv(data_file)
data_file_pd.head()

     COUNTRIES Code  Year  Density
0  Afghanistan  AFG  1961    14.04
1  Afghanistan  AFG  1962    14.32
2  Afghanistan  AFG  1963    14.60
3  Afghanistan  AFG  1964    14.91
4  Afghanistan  AFG  1965    15.22

In [4]:
# ====== Connection ====== #
# Connection to Mongo
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

# Connection to the database
db = client.Project2

# Connection to the collection
#collection = db.Project2

In [5]:
# Read the row from data_file to create a dictionary
for _, row in data_file_pd.iterrows():
   dic = {
       'Countries':row["COUNTRIES"],
       'Code': row["Code"],
       'Year': row["Year"],
       'Density': row["Density"]
       
       
   }
   #insert dictionary into mongo
   #collection.insert_one(dic)

In [6]:
# ====== Connection ====== #
# Connection to Mongo
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

# Connection to the database
db = client.Project2

# Connection to the collection
#collection = db.Energy

In [7]:
# Define database and collection
db = client.Project2
#collection = db.coordinates

In [8]:
# Dependencies
# from bs4 import BeautifulSoup
# import requests
# import pymongo
# import pandas as pd

In [9]:

# URL of page to be scraped
# url = 'https://developers.google.com/public-data/docs/canonical/countries_csv'

# # Retrieve page with the requests module
# response = requests.get(url)
# Create BeautifulSoup object; parse with 'lxml'
# soup = BeautifulSoup(response.text, 'lxml')
# row = [abbr.append(i.text[1])for i in td]

In [10]:

# Examine the results, then determine element that contains sought info
# results are returned as an iterable list
# table = soup.find('table')
# table_rows = table.find_all('tr')
# # Loop through returned results
# data = []
# for tr in table_rows:
#     td = tr.find_all('td')
#     row = [i.text for i in td]
#     try:
#         data.append({"abbr": (row[0]), 
#                       "Lat": (row[1]), 
#                       "Lng": (row[2]), 
#                       "country": (row[3])})
#     except:
#         pass

In [11]:
#collection.insert_many(data)

In [12]:
# Save path to data set in a variable
data_file3 = "C:\\Users\\taiwo\\OneDrive\\Desktop\\PREWORK_TO\\Module 16\\Project2\\Data Files\\TEC.csv"

In [13]:
# Use Pandas to read data
data_file_pd3 = pd.read_csv(data_file3)
data_file_pd3.head()

,s/n,country,1990,1991,1992,1993,1994,1995,1996,1997,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,1,Belgium,48,50,51,49,52,53,56,56,...,56,60,56,54,56,53,53,56,55,53
1,2,Czech Republic,50,45,44,43,41,42,43,43,...,43,45,44,43,43,42,42,42,43,43
2,3,France,225,237,234,238,231,240,250,244,...,255,263,254,254,255,244,248,244,244,243
3,4,Germany,355,344,338,335,333,336,348,346,...,310,326,310,311,318,306,308,310,312,301
4,5,Italy,151,155,154,153,151,159,159,162,...,170,174,168,161,156,147,153,151,154,155

In [14]:
# Save path to data set in a variable
data_file4 = "C:\\Users\\taiwo\\OneDrive\\Desktop\\PREWORK_TO\\Module 16\\Project2\\Data Files\\TEP.csv"
# Use Pandas to read data
data_file_pd4 = pd.read_csv(data_file4)
data_file_pd4.head()

,s/n,country,1990,1991,1992,1993,1994,1995,1996,1997,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,1,Belgium,13,13,13,12,12,12,12,13,...,15,16,16,14,15,13,11,15,15,12
1,2,Czech Republic,41,39,37,36,34,33,33,34,...,32,32,33,33,31,30,29,27,28,28
2,3,France,112,119,120,126,124,128,132,129,...,129,136,136,135,137,138,139,131,130,135
3,4,Germany,190,169,164,153,145,145,143,145,...,126,129,123,123,121,120,120,116,115,115
4,5,Italy,26,26,28,29,30,30,31,31,...,32,33,32,35,37,37,36,34,34,36

In [15]:
# Save path to data set in a variable
data_file5 = "C:\\Users\\taiwo\\OneDrive\\Desktop\\PREWORK_TO\\Module 16\\Project2\\Data Files\\EBOT.csv"
# Use Pandas to read data
data_file_pd5 = pd.read_csv(data_file5)
data_file_pd5.head()

,s/n,country,1990,1991,1992,1993,1994,1995,1996,1997,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,1,Belgium,39.7,42.4,43.4,41.8,45.7,47.0,49.6,49.1,...,48.6,54.0,48.6,46.5,48.8,47.5,50.8,48.8,48.4,50.8
1,2,Czech Republic,7.6,7.0,7.0,6.8,7.7,8.6,10.4,10.5,...,11.5,11.6,12.6,11.0,12.0,12.7,13.5,13.7,16.2,15.8
2,3,France,120.0,126.8,124.5,116.4,113.4,118.1,123.5,122.5,...,133.7,132.4,127.5,126.2,125.8,115.6,117.0,118.3,121.4,116.9
3,4,Germany,167.1,181.0,187.9,189.6,193.2,195.4,208.6,209.3,...,197.8,204.1,199.4,199.3,207.2,196.1,198.5,205.0,210.0,198.8
4,5,Italy,131.6,130.9,133.4,127.3,126.3,134.4,133.9,133.9,...,141.3,148.5,141.3,132.1,123.2,115.1,121.5,121.3,124.4,120.7

In [16]:
# Save path to data set in a variable
data_file6 = "C:\\Users\\taiwo\\OneDrive\\Desktop\\PREWORK_TO\\Module 16\\Project2\\Data Files\\EIG.csv"
# Use Pandas to read data
data_file_pd6 = pd.read_csv(data_file6)
data_file_pd6.head()

,s/n,country,1990,1991,1992,1993,1994,1995,1996,1997,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,1,Belgium,0.144,0.148,0.147,0.145,0.149,0.148,0.154,0.148,...,0.118,0.123,0.113,0.108,0.112,0.105,0.104,0.109,0.105,0.099
1,2,Czech Republic,0.220,0.226,0.222,0.215,0.201,0.192,0.190,0.192,...,0.134,0.139,0.132,0.132,0.132,0.125,0.119,0.115,0.115,0.110
2,3,France,0.121,0.127,0.123,0.126,0.119,0.121,0.125,0.119,...,0.101,0.102,0.097,0.097,0.096,0.092,0.092,0.089,0.087,0.086
3,4,Germany,0.131,0.121,0.117,0.117,0.113,0.112,0.115,0.113,...,0.090,0.091,0.083,0.083,0.084,0.080,0.079,0.078,0.077,0.072
4,5,Italy,0.080,0.081,0.080,0.080,0.077,0.079,0.078,0.078,...,0.075,0.076,0.073,0.072,0.071,0.067,0.069,0.067,0.067,0.067

In [17]:
# ====== Connection ====== #
# Connection to Mongo
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

# Connection to the database
db = client.Project2

# Connection to the collection
collection = db.TotalEnergyConsumption

In [18]:
# Read the row from datafile3 to create a dictionary
for _, row in data_file_pd3.iterrows():
   dic = {
       'country':row["country"],
       '1990': row["1990"],
       '1991': row["1991"],
       '1992': row["1992"],
       '1993': row["1993"],
       '1994': row["1994"],
       '1995': row["1995"],
       '1996': row["1996"],
       '1997': row["1997"],
       '1998': row["1998"],
       '1999': row["1999"],
       '2000': row["2000"],
       '2001': row["2001"],
       '2002': row["2002"],
       '2003': row["2003"],
       '2004': row["2004"],
       '2005': row["2005"],
       '2006': row["2006"],
       '2007': row["2007"],
       '2008': row["2008"],
       '2009': row["2009"],
       '2010': row["2010"],
        '2011': row["2011"],
        '2012': row["2012"],
        '2013': row["2013"],
        '2014': row["2014"],
        '2015': row["2015"],
        '2016': row["2016"],
        '2017': row["2017"],
        '2018': row["2018"]       
       
   }
   #insert dictionary into mongo
   #collection.insert_one(dic)

In [19]:
# ====== Connection ====== #
# Connection to Mongo
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

# Connection to the database
db = client.Project2

# Connection to the collection
collection = db.TotalEnergyProduction

In [20]:
# Read the row from datafile4 to create a dictionary
for _, row in data_file_pd4.iterrows():
   dic = {
       'country':row["country"],
       '1990': row["1990"],
       '1991': row["1991"],
       '1992': row["1992"],
       '1993': row["1993"],
       '1994': row["1994"],
       '1995': row["1995"],
       '1996': row["1996"],
       '1997': row["1997"],
       '1998': row["1998"],
       '1999': row["1999"],
       '2000': row["2000"],
       '2001': row["2001"],
       '2002': row["2002"],
       '2003': row["2003"],
       '2004': row["2004"],
       '2005': row["2005"],
       '2006': row["2006"],
       '2007': row["2007"],
       '2008': row["2008"],
       '2009': row["2009"],
       '2010': row["2010"],
        '2011': row["2011"],
        '2012': row["2012"],
        '2013': row["2013"],
        '2014': row["2014"],
        '2015': row["2015"],
        '2016': row["2016"],
        '2017': row["2017"],
        '2018': row["2018"]       
       
   }
   #insert dictionary into mongo
   #collection.insert_one(dic)

In [21]:
# ====== Connection ====== #
# Connection to Mongo
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

# Connection to the database
db = client.Project2

# Connection to the collection
collection = db.EnergyBalanceOfTrade

In [22]:
# Read the row from datafile5 to create a dictionary
for _, row in data_file_pd5.iterrows():
   dic = {
       'country':row["country"],
       '1990': row["1990"],
       '1991': row["1991"],
       '1992': row["1992"],
       '1993': row["1993"],
       '1994': row["1994"],
       '1995': row["1995"],
       '1996': row["1996"],
       '1997': row["1997"],
       '1998': row["1998"],
       '1999': row["1999"],
       '2000': row["2000"],
       '2001': row["2001"],
       '2002': row["2002"],
       '2003': row["2003"],
       '2004': row["2004"],
       '2005': row["2005"],
       '2006': row["2006"],
       '2007': row["2007"],
       '2008': row["2008"],
       '2009': row["2009"],
       '2010': row["2010"],
        '2011': row["2011"],
        '2012': row["2012"],
        '2013': row["2013"],
        '2014': row["2014"],
        '2015': row["2015"],
        '2016': row["2016"],
        '2017': row["2017"],
        '2018': row["2018"]       
       
   }
   #insert dictionary into mongo
   #collection.insert_one(dic)

In [23]:
# ====== Connection ====== #
# Connection to Mongo
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

# Connection to the database
db = client.Project2

# Connection to the collection
collection = db.EnergyIntensityGDP

In [24]:
# Read the row from datafile6 to create a dictionary
for _, row in data_file_pd6.iterrows():
   dic = {
       'country':row["country"],
       '1990': row["1990"],
       '1991': row["1991"],
       '1992': row["1992"],
       '1993': row["1993"],
       '1994': row["1994"],
       '1995': row["1995"],
       '1996': row["1996"],
       '1997': row["1997"],
       '1998': row["1998"],
       '1999': row["1999"],
       '2000': row["2000"],
       '2001': row["2001"],
       '2002': row["2002"],
       '2003': row["2003"],
       '2004': row["2004"],
       '2005': row["2005"],
       '2006': row["2006"],
       '2007': row["2007"],
       '2008': row["2008"],
       '2009': row["2009"],
       '2010': row["2010"],
        '2011': row["2011"],
        '2012': row["2012"],
        '2013': row["2013"],
        '2014': row["2014"],
        '2015': row["2015"],
        '2016': row["2016"],
        '2017': row["2017"],
        '2018': row["2018"]       
       
   }
   #insert dictionary into mongo
   #collection.insert_one(dic)

In [25]:
# Save path to data set in a variable
data_file7 = "C:\\Users\\taiwo\\OneDrive\\Desktop\\PREWORK_TO\\Module 16\\Project2\\Data Files\\TEC2.csv"

In [26]:
# Use Pandas to read data - TEC2
data_file_pd7 = pd.read_csv(data_file7)
data_file_pd7.head()

,Year,Belgium,Czech Republic,France,Germany,Italy,Netherlands,Poland,Portugal,Romania,...,Australia,New Zealand,Algeria,Egypt,Nigeria,South Africa,Iran,Kuwait,Saudi Arabia,United Arab Emirates
0,yr1,48,50,225,355,151,67,104,17,62,...,87,14,22,32,66,90,69,9,58,20
1,yr2,50,45,237,344,155,69,101,17,51,...,86,14,23,32,70,93,77,3,68,23
2,yr3,51,44,234,338,154,69,99,19,47,...,87,14,24,33,72,88,81,9,77,22
3,yr4,49,43,238,335,153,70,101,18,46,...,91,15,24,34,74,94,87,12,80,24
4,yr5,52,41,231,333,151,71,97,19,43,...,92,15,23,33,72,98,97,14,84,26

In [27]:
data_file_pd7.set_index('Year')
data_file_pd7.head()

,Year,Belgium,Czech Republic,France,Germany,Italy,Netherlands,Poland,Portugal,Romania,...,Australia,New Zealand,Algeria,Egypt,Nigeria,South Africa,Iran,Kuwait,Saudi Arabia,United Arab Emirates
0,yr1,48,50,225,355,151,67,104,17,62,...,87,14,22,32,66,90,69,9,58,20
1,yr2,50,45,237,344,155,69,101,17,51,...,86,14,23,32,70,93,77,3,68,23
2,yr3,51,44,234,338,154,69,99,19,47,...,87,14,24,33,72,88,81,9,77,22
3,yr4,49,43,238,335,153,70,101,18,46,...,91,15,24,34,74,94,87,12,80,24
4,yr5,52,41,231,333,151,71,97,19,43,...,92,15,23,33,72,98,97,14,84,26

In [28]:
# data_file_pd7['Year'] = data_file_pd7['Year'].astype(str)
# data_file_pd7.dtypes

In [29]:
from pandas import *
import seaborn as sns
from IPython.display import HTML
#convert dataframe to HTML
html_table = data_file_pd7.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Year</th>\n      <th>Belgium</th>\n      <th>Czech Republic</th>\n      <th>France</th>\n      <th>Germany</th>\n      <th>Italy</th>\n      <th>Netherlands</th>\n      <th>Poland</th>\n      <th>Portugal</th>\n      <th>Romania</th>\n      <th>Spain</th>\n      <th>Sweden</th>\n      <th>United Kingdom</th>\n      <th>Norway</th>\n      <th>Turkey</th>\n      <th>Kazakhstan</th>\n      <th>Russia</th>\n      <th>Ukraine</th>\n      <th>Uzbekistan</th>\n      <th>Canada</th>\n      <th>United States</th>\n      <th>Argentina</th>\n      <th>Brazil</th>\n      <th>Chile</th>\n      <th>Colombia</th>\n      <th>Mexico</th>\n      <th>Venezuela</th>\n      <th>China</th>\n      <th>India</th>\n      <th>Indonesia</th>\n      <th>Japan</th>\n      <th>Malaysia</th>\n      <th>South Korea</th>\n      <th>Taiwan</th>\n      <th>Thailand</th>\n      <th>Australia</th>\n      <th>New Zealand</th>\n      <th>Algeria</th>\n      <th>Egypt</th>\n      <th>Nigeria</th>\n      <th>South Africa</th>\n      <th>Iran</th>\n      <th>Kuwait</th>\n      <th>Saudi Arabia</th>\n      <th>United Arab Emirates</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>yr1</td>\n      <td>48</td>\n      <td>50</td>\n      <td>225</td>\n      <td>355</td>\n      <td>151</td>\n      <td>67</td>\n      <td>104</td>\n      <td>17</td>\n      <td>62</td>\n      <td>91</td>\n      <td>46</td>\n      <td>206</td>\n      <td>21</td>\n      <td>52</td>\n      <td>73</td>\n      <td>882</td>\n      <td>243</td>\n      <td>46</td>\n      <td>211</td>\n      <td>1910</td>\n      <td>46</td>\n      <td>141</td>\n      <td>14</td>\n      <td>24</td>\n      <td>123</td>\n      <td>40</td>\n      <td>874</td>\n      <td>306</td>\n      <td>99</td>\n      <td>440</td>\n      <td>22</td>\n      <td>94</td>\n      <td>48</td>\n      <td>42</td>\n      <td>87</td>\n      <td>14</td>\n      <td>22</td>\n      <td>32</td>\n      <td>66</td>\n      <td>90</td>\n      <td>69</td>\n      <td>9</td>\n      <td>58</td>\n      <td>20</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>yr2</td>\n      <td>50</td>\n      <td>45</td>\n      <td>237</td>\n      <td>344</td>\n      <td>155</td>\n      <td>69</td>\n      <td>101</td>\n      <td>17</td>\n      <td>51</td>\n      <td>94</td>\n      <td>48</td>\n      <td>213</td>\n      <td>22</td>\n      <td>52</td>\n      <td>75</td>\n      <td>872</td>\n      <td>244</td>\n      <td>48</td>\n      <td>210</td>\n      <td>1925</td>\n      <td>47</td>\n      <td>143</td>\n      <td>14</td>\n      <td>24</td>\n      <td>129</td>\n      <td>41</td>\n      <td>848</td>\n      <td>318</td>\n      <td>103</td>\n      <td>445</td>\n      <td>27</td>\n      <td>101</td>\n      <td>52</td>\n      <td>46</td>\n      <td>86</td>\n      <td>14</td>\n      <td>23</td>\n      <td>32</td>\n      <td>70</td>\n      <td>93</td>\n      <td>77</td>\n      <td>3</td>\n      <td>68</td>\n      <td>23</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>yr3</td>\n      <td>51</td>\n      <td>44</td>\n      <td>234</td>\n      <td>338</td>\n      <td>154</td>\n      <td>69</td>\n      <td>99</td>\n      <td>19</td>\n      <td>47</td>\n      <td>95</td>\n      <td>46</td>\n      <td>212</td>\n      <td>22</td>\n      <td>53</td>\n      <td>79</td>\n      <td>800</td>\n      <td>212</td>\n      <td>45</td>\n      <td>215</td>\n      <td>1964</td>\n      <td>50</td>\n      <td>145</td>\n      <td>15</td>\n      <td>25</td>\n      <td>131</td>\n      <td>46</td>\n      <td>877</td>\n      <td>330</td>\n      <td>108</td>\n      <td>455</td>\n      <td>30</td>\n      <td>111</td>\n      <td>54</td>\n      <td>49</td>\n      <td>87</td>\n      <td>14</td>\n      <td>24</td>\n      <td>33</td>\n      <td>72</td>\n      <td>88</td>\n      <td>81</td>\n      <td>9</td>\n      <td>77</td>\n      <td>22</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>yr4</td>\n      <td>49</td>\n      <td>43</td>\n      <td>238</td>\n      <td>335</td>\n      <td>153</td>\n      <td>70</td>\n      <td>101</td>\n      <td>18</td>\n      <td>46</td>\n      <td>92</td>\n      <td>46</td>\n      <td>214</td>\n      <td>24</td>\n      <td>57</td>\n      <td>66</td>\n      <td>756</td>\n      <td>189</td>\n      <td>47</td>\n      <td>223</td>\n      <td>1998</td>\n      <td>50</td>\n      <td>148</td>\n      <td>16</td>\n      <td>26</td>\n      <td>133</td>\n      <td>43</td>\n      <td>929</td>\n      <td>338</td>\n      <td>119</td>\n      <td>457</td>\n      <td>32</td>\n      <td>125</td>\n      <td>58</td>\n      <td>51</td>\n      <td>91</td>\n      <td>15</td>\n      <td>24</td>\n      <td>34</td>\n      <td>74</td>\n      <td>94</td>\n      <td>87</td>\n      <td>12</td>\n      <td>80</td>\n      <td>24</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>yr5</td>\n      <td>52</td>\n      <td>41</td>\n      <td>231</td>\n      <td>333</td>\n      <td>151</td>\n      <td>71</td>\n      <td>97</td>\n      <td>19</td>\n      <td>43</td>\n      <td>96</td>\n      <td>49</td>\n      <td>221</td>\n      <td>23</td>\n      <td>56</td>\n      <td>58</td>\n      <td>659</td>\n      <td>161</td>\n      <td>47</td>\n      <td>231</td>\n      <td>2036</td>\n      <td>53</td>\n      <td>156</td>\n      <td>17</td>\n      <td>27</td>\n      <td>136</td>\n      <td>50</td>\n      <td>973</td>\n      <td>351</td>\n      <td>119</td>\n      <td>483</td>\n      <td>32</td>\n      <td>133</td>\n      <td>60</td>\n      <td>57</td>\n      <td>92</td>\n      <td>15</td>\n      <td>23</td>\n      <td>33</td>\n      <td>72</td>\n      <td>98</td>\n      <td>97</td>\n      <td>14</td>\n      <td>84</td>\n      <td>26</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>yr6</td>\n      <td>53</td>\n      <td>42</td>\n      <td>240</td>\n      <td>336</td>\n      <td>159</td>\n      <td>74</td>\n      <td>100</td>\n      <td>20</td>\n      <td>47</td>\n      <td>101</td>\n      <td>49</td>\n      <td>217</td>\n      <td>23</td>\n      <td>62</td>\n      <td>52</td>\n      <td>639</td>\n      <td>160</td>\n      <td>43</td>\n      <td>234</td>\n      <td>2063</td>\n      <td>54</td>\n      <td>161</td>\n      <td>18</td>\n      <td>28</td>\n      <td>132</td>\n      <td>47</td>\n      <td>1045</td>\n      <td>371</td>\n      <td>131</td>\n      <td>495</td>\n      <td>35</td>\n      <td>146</td>\n      <td>64</td>\n      <td>62</td>\n      <td>94</td>\n      <td>15</td>\n      <td>24</td>\n      <td>35</td>\n      <td>73</td>\n      <td>104</td>\n      <td>101</td>\n      <td>15</td>\n      <td>85</td>\n      <td>28</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>yr7</td>\n      <td>56</td>\n      <td>43</td>\n      <td>250</td>\n      <td>348</td>\n      <td>159</td>\n      <td>77</td>\n      <td>107</td>\n      <td>20</td>\n      <td>48</td>\n      <td>99</td>\n      <td>50</td>\n      <td>226</td>\n      <td>23</td>\n      <td>67</td>\n      <td>45</td>\n      <td>634</td>\n      <td>147</td>\n      <td>44</td>\n      <td>238</td>\n      <td>2108</td>\n      <td>56</td>\n      <td>170</td>\n      <td>20</td>\n      <td>28</td>\n      <td>135</td>\n      <td>50</td>\n      <td>1074</td>\n      <td>383</td>\n      <td>136</td>\n      <td>506</td>\n      <td>39</td>\n      <td>158</td>\n      <td>67</td>\n      <td>69</td>\n      <td>100</td>\n      <td>16</td>\n      <td>23</td>\n      <td>37</td>\n      <td>76</td>\n      <td>107</td>\n      <td>98</td>\n      <td>15</td>\n      <td>90</td>\n      <td>29</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>yr8</td>\n      <td>56</td>\n      <td>43</td>\n      <td>244</td>\n      <td>346</td>\n      <td>162</td>\n      <td>75</td>\n      <td>102</td>\n      <td>21</td>\n      <td>45</td>\n      <td>105</td>\n      <td>49</td>\n      <td>219</td>\n      <td>24</td>\n      <td>70</td>\n      <td>40</td>\n      <td>606</td>\n      <td>140</td>\n      <td>45</td>\n      <td>241</td>\n      <td>2130</td>\n      <td>58</td>\n      <td>179</td>\n      <td>23</td>\n      <td>27</td>\n      <td>142</td>\n      <td>50</td>\n      <td>1073</td>\n      <td>398</td>\n      <td>140</td>\n      <td>511</td>\n      <td>45</td>\n      <td>172</td>\n      <td>71</td>\n      <td>71</td>\n      <td>101</td>\n      <td>16</td>\n      <td>24</td>\n      <td>39</td>\n      <td>79</td>\n      <td>109</td>\n      <td>109</td>\n      <td>15</td>\n      <td>86</td>\n      <td>31</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>yr9</td>\n      <td>57</td>\n      <td>42</td>\n      <td>251</td>\n      <td>343</td>\n      <td>166</td>\n      <td>76</td>\n      <td>95</td>\n      <td>23</td>\n      <td>41</td>\n      <td>111</td>\n      <td>50</td>\n      <td>221</td>\n      <td>25</td>\n      <td>72</td>\n      <td>39</td>\n      <td>591</td>\n      <td>132</td>\n      <td>50</td>\n      <td>240</td>\n      <td>2156</td>\n      <td>60</td>\n      <td>183</td>\n      <td>24</td>\n      <td>29</td>\n      <td>145</td>\n      <td>52</td>\n      <td>1078</td>\n      <td>407</td>\n      <td>137</td>\n      <td>501</td>\n      <td>42</td>\n      <td>158</td>\n      <td>75</td>\n      <td>66</td>\n      <td>104</td>\n      <td>16</td>\n      <td>25</td>\n      <td>42</td>\n      <td>80</td>\n      <td>111</td>\n      <td>111</td>\n      <td>17</td>\n      <td>92</td>\n      <td>32</td>\n    </tr>\n    <tr>\n      <th>9</th>\n      <td>yr10</td>\n      <td>57</td>\n      <td>39</td>\n      <td>252</td>\n      <td>335</td>\n      <td>169</td>\n      <td>75</td>\n      <td>93</td>\n      <td>24</td>\n      <td>36</td>\n      <td>116</td>\n      <td>49</td>\n      <td>222</td>\n      <td>26</td>\n      <td>70</td>\n      <td>36</td>\n      <td>608</td>\n      <td>131</td>\n      <td>51</td>\n      <td>246</td>\n      <td>2206</td>\n      <td>61</td>\n      <td>187</td>\n      <td>25</td>\n      <td>26</td>\n      <td>150</td>\n      <td>50</td>\n      <td>1099</td>\n      <td>431</td>\n      <td>144</td>\n      <td>509</td>\n      <td>43</td>\n      <td>174</td>\n      <td>79</td>\n      <td>71</td>\n      <td>106</td>\n      <td>17</td>\n      <td>27</td>\n      <td>42</td>\n      <td>83</td>\n      <td>109</td>\n      <td>126</td>\n      <td>18</td>\n      <td>94</td>\n      <td>32</td>\n    </tr>\n    <tr>\n      <th>10</th>\n      <td>yr11</td>\n      <td>58</td>\n      <td>41</td>\n      <td>255</td>\n      <td>337</td>\n      <td>172</td>\n      <td>76</td>\n      <td>89</td>\n      <td>25</td>\n      <td>36</td>\n      <td>122</td>\n      <td>46</td>\n      <td>223</td>\n      <td>26</td>\n      <td>76</td>\n      <td>36</td>\n      <td>619</td>\n      <td>129</td>\n      <td>51</td>\n      <td>254</td>\n      <td>2269</td>\n      <td>62</td>\n      <td>188</td>\n      <td>25</td>\n      <td>26</td>\n      <td>150</td>\n      <td>51</td>\n      <td>1130</td>\n      <td>441</td>\n      <td>156</td>\n      <td>519</td>\n      <td>49</td>\n      <td>190</td>\n      <td>85</td>\n      <td>72</td>\n      <td>108</td>\n      <td>17</td>\n      <td>27</td>\n      <td>40</td>\n      <td>87</td>\n      <td>111</td>\n      <td>123</td>\n      <td>19</td>\n      <td>98</td>\n      <td>32</td>\n    </tr>\n    <tr>\n      <th>11</th>\n      <td>yr12</td>\n      <td>58</td>\n      <td>42</td>\n      <td>260</td>\n      <td>346</td>\n      <td>172</td>\n      <td>78</td>\n      <td>90</td>\n      <td>25</td>\n      <td>37</td>\n      <td>125</td>\n      <td>49</td>\n      <td>224</td>\n      <td>27</td>\n      <td>70</td>\n      <td>35</td>\n      <td>625</td>\n      <td>130</td>\n      <td>51</td>\n      <td>250</td>\n      <td>2226</td>\n      <td>59</td>\n      <td>191</td>\n      <td>25</td>\n      <td>26</td>\n      <td>155</td>\n      <td>53</td>\n      <td>1168</td>\n      <td>448</td>\n      <td>159</td>\n      <td>511</td>\n      <td>51</td>\n      <td>193</td>\n      <td>89</td>\n      <td>74</td>\n      <td>106</td>\n      <td>17</td>\n      <td>27</td>\n      <td>46</td>\n      <td>91</td>\n      <td>107</td>\n      <td>133</td>\n      <td>20</td>\n      <td>100</td>\n      <td>40</td>\n    </tr>\n    <tr>\n      <th>12</th>\n      <td>yr13</td>\n      <td>56</td>\n      <td>43</td>\n      <td>261</td>\n      <td>339</td>\n      <td>173</td>\n      <td>78</td>\n      <td>89</td>\n      <td>26</td>\n      <td>38</td>\n      <td>129</td>\n      <td>52</td>\n      <td>220</td>\n      <td>25</td>\n      <td>74</td>\n      <td>40</td>\n      <td>622</td>\n      <td>131</td>\n      <td>53</td>\n      <td>251</td>\n      <td>2256</td>\n      <td>57</td>\n      <td>196</td>\n      <td>26</td>\n      <td>25</td>\n      <td>155</td>\n      <td>57</td>\n      <td>1246</td>\n      <td>462</td>\n      <td>165</td>\n      <td>512</td>\n      <td>53</td>\n      <td>201</td>\n      <td>93</td>\n      <td>82</td>\n      <td>109</td>\n      <td>17</td>\n      <td>29</td>\n      <td>47</td>\n      <td>94</td>\n      <td>103</td>\n      <td>138</td>\n      <td>21</td>\n      <td>111</td>\n      <td>40</td>\n    </tr>\n    <tr>\n      <th>13</th>\n      <td>yr14</td>\n      <td>58</td>\n      <td>45</td>\n      <td>267</td>\n      <td>337</td>\n      <td>182</td>\n      <td>81</td>\n      <td>91</td>\n      <td>25</td>\n      <td>40</td>\n      <td>133</td>\n      <td>51</td>\n      <td>224</td>\n      <td>27</td>\n      <td>78</td>\n      <td>43</td>\n      <td>645</td>\n      <td>137</td>\n      <td>52</td>\n      <td>264</td>\n      <td>2261</td>\n      <td>61</td>\n      <td>199</td>\n      <td>26</td>\n      <td>26</td>\n      <td>165</td>\n      <td>53</td>\n      <td>1420</td>\n      <td>474</td>\n      <td>165</td>\n      <td>509</td>\n      <td>57</td>\n      <td>206</td>\n      <td>97</td>\n      <td>89</td>\n      <td>110</td>\n      <td>17</td>\n      <td>31</td>\n      <td>49</td>\n      <td>98</td>\n      <td>116</td>\n      <td>143</td>\n      <td>22</td>\n      <td>113</td>\n      <td>39</td>\n    </tr>\n    <tr>\n      <th>14</th>\n      <td>yr15</td>\n      <td>58</td>\n      <td>46</td>\n      <td>271</td>\n      <td>339</td>\n      <td>183</td>\n      <td>82</td>\n      <td>91</td>\n      <td>26</td>\n      <td>39</td>\n      <td>140</td>\n      <td>53</td>\n      <td>222</td>\n      <td>27</td>\n      <td>81</td>\n      <td>51</td>\n      <td>647</td>\n      <td>138</td>\n      <td>51</td>\n      <td>270</td>\n      <td>2308</td>\n      <td>67</td>\n      <td>210</td>\n      <td>28</td>\n      <td>26</td>\n      <td>167</td>\n      <td>56</td>\n      <td>1615</td>\n      <td>499</td>\n      <td>176</td>\n      <td>524</td>\n      <td>61</td>\n      <td>212</td>\n      <td>100</td>\n      <td>96</td>\n      <td>112</td>\n      <td>18</td>\n      <td>31</td>\n      <td>53</td>\n      <td>99</td>\n      <td>126</td>\n      <td>156</td>\n      <td>23</td>\n      <td>120</td>\n      <td>42</td>\n    </tr>\n    <tr>\n      <th>15</th>\n      <td>yr16</td>\n      <td>58</td>\n      <td>45</td>\n      <td>272</td>\n      <td>337</td>\n      <td>186</td>\n      <td>81</td>\n      <td>92</td>\n      <td>26</td>\n      <td>39</td>\n      <td>143</td>\n      <td>52</td>\n      <td>223</td>\n      <td>27</td>\n      <td>84</td>\n      <td>51</td>\n      <td>651</td>\n      <td>141</td>\n      <td>47</td>\n      <td>273</td>\n      <td>2319</td>\n      <td>67</td>\n      <td>216</td>\n      <td>28</td>\n      <td>27</td>\n      <td>178</td>\n      <td>55</td>\n      <td>1782</td>\n      <td>514</td>\n      <td>179</td>\n      <td>523</td>\n      <td>67</td>\n      <td>214</td>\n      <td>102</td>\n      <td>99</td>\n      <td>113</td>\n      <td>17</td>\n      <td>32</td>\n      <td>62</td>\n      <td>105</td>\n      <td>122</td>\n      <td>173</td>\n      <td>26</td>\n      <td>123</td>\n      <td>45</td>\n    </tr>\n    <tr>\n      <th>16</th>\n      <td>yr17</td>\n      <td>58</td>\n      <td>46</td>\n      <td>268</td>\n      <td>346</td>\n      <td>184</td>\n      <td>80</td>\n      <td>97</td>\n      <td>25</td>\n      <td>40</td>\n      <td>142</td>\n      <td>50</td>\n      <td>219</td>\n      <td>27</td>\n      <td>93</td>\n      <td>61</td>\n      <td>670</td>\n      <td>137</td>\n      <td>48</td>\n      <td>278</td>\n      <td>2297</td>\n      <td>73</td>\n      <td>223</td>\n      <td>30</td>\n      <td>28</td>\n      <td>182</td>\n      <td>62</td>\n      <td>1950</td>\n      <td>533</td>\n      <td>183</td>\n      <td>523</td>\n      <td>67</td>\n      <td>218</td>\n      <td>105</td>\n      <td>101</td>\n      <td>118</td>\n      <td>17</td>\n      <td>35</td>\n      <td>65</td>\n      <td>106</td>\n      <td>126</td>\n      <td>180</td>\n      <td>26</td>\n      <td>136</td>\n      <td>46</td>\n    </tr>\n    <tr>\n      <th>17</th>\n      <td>yr18</td>\n      <td>57</td>\n      <td>46</td>\n      <td>265</td>\n      <td>328</td>\n      <td>184</td>\n      <td>80</td>\n      <td>96</td>\n      <td>25</td>\n      <td>40</td>\n      <td>144</td>\n      <td>50</td>\n      <td>211</td>\n      <td>28</td>\n      <td>100</td>\n      <td>66</td>\n      <td>672</td>\n      <td>138</td>\n      <td>48</td>\n      <td>277</td>\n      <td>2338</td>\n      <td>74</td>\n      <td>236</td>\n      <td>31</td>\n      <td>28</td>\n      <td>181</td>\n      <td>58</td>\n      <td>2099</td>\n      <td>568</td>\n      <td>183</td>\n      <td>518</td>\n      <td>73</td>\n      <td>227</td>\n      <td>110</td>\n      <td>105</td>\n      <td>122</td>\n      <td>17</td>\n      <td>37</td>\n      <td>69</td>\n      <td>110</td>\n      <td>135</td>\n      <td>191</td>\n      <td>26</td>\n      <td>140</td>\n      <td>50</td>\n    </tr>\n    <tr>\n      <th>18</th>\n      <td>yr19</td>\n      <td>58</td>\n      <td>45</td>\n      <td>267</td>\n      <td>331</td>\n      <td>182</td>\n      <td>79</td>\n      <td>98</td>\n      <td>25</td>\n      <td>40</td>\n      <td>139</td>\n      <td>50</td>\n      <td>208</td>\n      <td>32</td>\n      <td>99</td>\n      <td>70</td>\n      <td>687</td>\n      <td>135</td>\n      <td>50</td>\n      <td>273</td>\n      <td>2278</td>\n      <td>78</td>\n      <td>249</td>\n      <td>30</td>\n      <td>30</td>\n      <td>180</td>\n      <td>65</td>\n      <td>2155</td>\n      <td>600</td>\n      <td>186</td>\n      <td>498</td>\n      <td>77</td>\n      <td>232</td>\n      <td>106</td>\n      <td>108</td>\n      <td>127</td>\n      <td>18</td>\n      <td>37</td>\n      <td>72</td>\n      <td>113</td>\n      <td>145</td>\n      <td>205</td>\n      <td>29</td>\n      <td>157</td>\n      <td>60</td>\n    </tr>\n    <tr>\n      <th>19</th>\n      <td>yr20</td>\n      <td>56</td>\n      <td>43</td>\n      <td>255</td>\n      <td>310</td>\n      <td>170</td>\n      <td>78</td>\n      <td>94</td>\n      <td>24</td>\n      <td>35</td>\n      <td>128</td>\n      <td>45</td>\n      <td>196</td>\n      <td>32</td>\n      <td>99</td>\n      <td>63</td>\n      <td>646</td>\n      <td>114</td>\n      <td>44</td>\n      <td>261</td>\n      <td>2165</td>\n      <td>76</td>\n      <td>241</td>\n      <td>30</td>\n      <td>31</td>\n      <td>180</td>\n      <td>65</td>\n      <td>2297</td>\n      <td>666</td>\n      <td>199</td>\n      <td>475</td>\n      <td>73</td>\n      <td>234</td>\n      <td>103</td>\n      <td>108</td>\n      <td>127</td>\n      <td>18</td>\n      <td>41</td>\n      <td>74</td>\n      <td>111</td>\n      <td>147</td>\n      <td>204</td>\n      <td>31</td>\n      <td>167</td>\n      <td>64</td>\n    </tr>\n    <tr>\n      <th>20</th>\n      <td>yr21</td>\n      <td>60</td>\n      <td>45</td>\n      <td>263</td>\n      <td>326</td>\n      <td>174</td>\n      <td>84</td>\n      <td>101</td>\n      <td>23</td>\n      <td>35</td>\n      <td>128</td>\n      <td>51</td>\n      <td>203</td>\n      <td>30</td>\n      <td>106</td>\n      <td>69</td>\n      <td>688</td>\n      <td>132</td>\n      <td>43</td>\n

In [30]:
html_table = html_table.replace('\n',"")
html_table

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Year</th>      <th>Belgium</th>      <th>Czech Republic</th>      <th>France</th>      <th>Germany</th>      <th>Italy</th>      <th>Netherlands</th>      <th>Poland</th>      <th>Portugal</th>      <th>Romania</th>      <th>Spain</th>      <th>Sweden</th>      <th>United Kingdom</th>      <th>Norway</th>      <th>Turkey</th>      <th>Kazakhstan</th>      <th>Russia</th>      <th>Ukraine</th>      <th>Uzbekistan</th>      <th>Canada</th>      <th>United States</th>      <th>Argentina</th>      <th>Brazil</th>      <th>Chile</th>      <th>Colombia</th>      <th>Mexico</th>      <th>Venezuela</th>      <th>China</th>      <th>India</th>      <th>Indonesia</th>      <th>Japan</th>      <th>Malaysia</th>      <th>South Korea</th>      <th>Taiwan</th>      <th>Thailand</th>      <th>Australia</th>      <th>New Zealand</th>      <th>Algeria</th>      <th>Egypt</th>      <th>Nigeria</th>      <th>South Africa</th>      <th>Iran</th>      <th>Kuwait</th>      <th>Saudi Arabia</th>      <th>United Arab Emirates</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>yr1</td>      <td>48</td>      <td>50</td>      <td>225</td>      <td>355</td>      <td>151</td>      <td>67</td>      <td>104</td>      <td>17</td>      <td>62</td>      <td>91</td>      <td>46</td>      <td>206</td>      <td>21</td>      <td>52</td>      <td>73</td>      <td>882</td>      <td>243</td>      <td>46</td>      <td>211</td>      <td>1910</td>      <td>46</td>      <td>141</td>      <td>14</td>      <td>24</td>      <td>123</td>      <td>40</td>      <td>874</td>      <td>306</td>      <td>99</td>      <td>440</td>      <td>22</td>      <td>94</td>      <td>48</td>      <td>42</td>      <td>87</td>      <td>14</td>      <td>22</td>      <td>32</td>      <td>66</td>      <td>90</td>      <td>69</td>      <td>9</td>      <td>58</td>      <td>20</td>    </tr>    <tr>      <th>1</th>      <td>yr2</td>      <td>50</td>      <td>45</td>      <td>237</td>      <td>344</td>      <td>155</td>      <td>69</td>      <td>101</td>      <td>17</td>      <td>51</td>      <td>94</td>      <td>48</td>      <td>213</td>      <td>22</td>      <td>52</td>      <td>75</td>      <td>872</td>      <td>244</td>      <td>48</td>      <td>210</td>      <td>1925</td>      <td>47</td>      <td>143</td>      <td>14</td>      <td>24</td>      <td>129</td>      <td>41</td>      <td>848</td>      <td>318</td>      <td>103</td>      <td>445</td>      <td>27</td>      <td>101</td>      <td>52</td>      <td>46</td>      <td>86</td>      <td>14</td>      <td>23</td>      <td>32</td>      <td>70</td>      <td>93</td>      <td>77</td>      <td>3</td>      <td>68</td>      <td>23</td>    </tr>    <tr>      <th>2</th>      <td>yr3</td>      <td>51</td>      <td>44</td>      <td>234</td>      <td>338</td>      <td>154</td>      <td>69</td>      <td>99</td>      <td>19</td>      <td>47</td>      <td>95</td>      <td>46</td>      <td>212</td>      <td>22</td>      <td>53</td>      <td>79</td>      <td>800</td>      <td>212</td>      <td>45</td>      <td>215</td>      <td>1964</td>      <td>50</td>      <td>145</td>      <td>15</td>      <td>25</td>      <td>131</td>      <td>46</td>      <td>877</td>      <td>330</td>      <td>108</td>      <td>455</td>      <td>30</td>      <td>111</td>      <td>54</td>      <td>49</td>      <td>87</td>      <td>14</td>      <td>24</td>      <td>33</td>      <td>72</td>      <td>88</td>      <td>81</td>      <td>9</td>      <td>77</td>      <td>22</td>    </tr>    <tr>      <th>3</th>      <td>yr4</td>      <td>49</td>      <td>43</td>      <td>238</td>      <td>335</td>      <td>153</td>      <td>70</td>      <td>101</td>      <td>18</td>      <td>46</td>      <td>92</td>      <td>46</td>      <td>214</td>      <td>24</td>      <td>57</td>      <td>66</td>      <td>756</td>      <td>189</td>      <td>47</td>      <td>223</td>      <td>1998</td>      <td>50</td>      <td>148</td>      <td>16</td>      <td>26</td>      <td>133</td>      <td>43</td>      <td>929</td>      <td>338</td>      <td>119</td>      <td>457</td>      <td>32</td>      <td>125</td>      <td>58</td>      <td>51</td>      <td>91</td>      <td>15</td>      <td>24</td>      <td>34</td>      <td>74</td>      <td>94</td>      <td>87</td>      <td>12</td>      <td>80</td>      <td>24</td>    </tr>    <tr>      <th>4</th>      <td>yr5</td>      <td>52</td>      <td>41</td>      <td>231</td>      <td>333</td>      <td>151</td>      <td>71</td>      <td>97</td>      <td>19</td>      <td>43</td>      <td>96</td>      <td>49</td>      <td>221</td>      <td>23</td>      <td>56</td>      <td>58</td>      <td>659</td>      <td>161</td>      <td>47</td>      <td>231</td>      <td>2036</td>      <td>53</td>      <td>156</td>      <td>17</td>      <td>27</td>      <td>136</td>      <td>50</td>      <td>973</td>      <td>351</td>      <td>119</td>      <td>483</td>      <td>32</td>      <td>133</td>      <td>60</td>      <td>57</td>      <td>92</td>      <td>15</td>      <td>23</td>      <td>33</td>      <td>72</td>      <td>98</td>      <td>97</td>      <td>14</td>      <td>84</td>      <td>26</td>    </tr>    <tr>      <th>5</th>      <td>yr6</td>      <td>53</td>      <td>42</td>      <td>240</td>      <td>336</td>      <td>159</td>      <td>74</td>      <td>100</td>      <td>20</td>      <td>47</td>      <td>101</td>      <td>49</td>      <td>217</td>      <td>23</td>      <td>62</td>      <td>52</td>      <td>639</td>      <td>160</td>      <td>43</td>      <td>234</td>      <td>2063</td>      <td>54</td>      <td>161</td>      <td>18</td>      <td>28</td>      <td>132</td>      <td>47</td>      <td>1045</td>      <td>371</td>      <td>131</td>      <td>495</td>      <td>35</td>      <td>146</td>      <td>64</td>      <td>62</td>      <td>94</td>      <td>15</td>      <td>24</td>      <td>35</td>      <td>73</td>      <td>104</td>      <td>101</td>      <td>15</td>      <td>85</td>      <td>28</td>    </tr>    <tr>      <th>6</th>      <td>yr7</td>      <td>56</td>      <td>43</td>      <td>250</td>      <td>348</td>      <td>159</td>      <td>77</td>      <td>107</td>      <td>20</td>      <td>48</td>      <td>99</td>      <td>50</td>      <td>226</td>      <td>23</td>      <td>67</td>      <td>45</td>      <td>634</td>      <td>147</td>      <td>44</td>      <td>238</td>      <td>2108</td>      <td>56</td>      <td>170</td>      <td>20</td>      <td>28</td>      <td>135</td>      <td>50</td>      <td>1074</td>      <td>383</td>      <td>136</td>      <td>506</td>      <td>39</td>      <td>158</td>      <td>67</td>      <td>69</td>      <td>100</td>      <td>16</td>      <td>23</td>      <td>37</td>      <td>76</td>      <td>107</td>      <td>98</td>      <td>15</td>      <td>90</td>      <td>29</td>    </tr>    <tr>      <th>7</th>      <td>yr8</td>      <td>56</td>      <td>43</td>      <td>244</td>      <td>346</td>      <td>162</td>      <td>75</td>      <td>102</td>      <td>21</td>      <td>45</td>      <td>105</td>      <td>49</td>      <td>219</td>      <td>24</td>      <td>70</td>      <td>40</td>      <td>606</td>      <td>140</td>      <td>45</td>      <td>241</td>      <td>2130</td>      <td>58</td>      <td>179</td>      <td>23</td>      <td>27</td>      <td>142</td>      <td>50</td>      <td>1073</td>      <td>398</td>      <td>140</td>      <td>511</td>      <td>45</td>      <td>172</td>      <td>71</td>      <td>71</td>      <td>101</td>      <td>16</td>      <td>24</td>      <td>39</td>      <td>79</td>      <td>109</td>      <td>109</td>      <td>15</td>      <td>86</td>      <td>31</td>    </tr>    <tr>      <th>8</th>      <td>yr9</td>      <td>57</td>      <td>42</td>      <td>251</td>      <td>343</td>      <td>166</td>      <td>76</td>      <td>95</td>      <td>23</td>      <td>41</td>      <td>111</td>      <td>50</td>      <td>221</td>      <td>25</td>      <td>72</td>      <td>39</td>      <td>591</td>      <td>132</td>      <td>50</td>      <td>240</td>      <td>2156</td>      <td>60</td>      <td>183</td>      <td>24</td>      <td>29</td>      <td>145</td>      <td>52</td>      <td>1078</td>      <td>407</td>      <td>137</td>      <td>501</td>      <td>42</td>      <td>158</td>      <td>75</td>      <td>66</td>      <td>104</td>      <td>16</td>      <td>25</td>      <td>42</td>      <td>80</td>      <td>111</td>      <td>111</td>      <td>17</td>      <td>92</td>      <td>32</td>    </tr>    <tr>      <th>9</th>      <td>yr10</td>      <td>57</td>      <td>39</td>      <td>252</td>      <td>335</td>      <td>169</td>      <td>75</td>      <td>93</td>      <td>24</td>      <td>36</td>      <td>116</td>      <td>49</td>      <td>222</td>      <td>26</td>      <td>70</td>      <td>36</td>      <td>608</td>      <td>131</td>      <td>51</td>      <td>246</td>      <td>2206</td>      <td>61</td>      <td>187</td>      <td>25</td>      <td>26</td>      <td>150</td>      <td>50</td>      <td>1099</td>      <td>431</td>      <td>144</td>      <td>509</td>      <td>43</td>      <td>174</td>      <td>79</td>      <td>71</td>      <td>106</td>      <td>17</td>      <td>27</td>      <td>42</td>      <td>83</td>      <td>109</td>      <td>126</td>      <td>18</td>      <td>94</td>      <td>32</td>    </tr>    <tr>      <th>10</th>      <td>yr11</td>      <td>58</td>      <td>41</td>      <td>255</td>      <td>337</td>      <td>172</td>      <td>76</td>      <td>89</td>      <td>25</td>      <td>36</td>      <td>122</td>      <td>46</td>      <td>223</td>      <td>26</td>      <td>76</td>      <td>36</td>      <td>619</td>      <td>129</td>      <td>51</td>      <td>254</td>      <td>2269</td>      <td>62</td>      <td>188</td>      <td>25</td>      <td>26</td>      <td>150</td>      <td>51</td>      <td>1130</td>      <td>441</td>      <td>156</td>      <td>519</td>      <td>49</td>      <td>190</td>      <td>85</td>      <td>72</td>      <td>108</td>      <td>17</td>      <td>27</td>      <td>40</td>      <td>87</td>      <td>111</td>      <td>123</td>      <td>19</td>      <td>98</td>      <td>32</td>    </tr>    <tr>      <th>11</th>      <td>yr12</td>      <td>58</td>      <td>42</td>      <td>260</td>      <td>346</td>      <td>172</td>      <td>78</td>      <td>90</td>      <td>25</td>      <td>37</td>      <td>125</td>      <td>49</td>      <td>224</td>      <td>27</td>      <td>70</td>      <td>35</td>      <td>625</td>      <td>130</td>      <td>51</td>      <td>250</td>      <td>2226</td>      <td>59</td>      <td>191</td>      <td>25</td>      <td>26</td>      <td>155</td>      <td>53</td>      <td>1168</td>      <td>448</td>      <td>159</td>      <td>511</td>      <td>51</td>      <td>193</td>      <td>89</td>      <td>74</td>      <td>106</td>      <td>17</td>      <td>27</td>      <td>46</td>      <td>91</td>      <td>107</td>      <td>133</td>      <td>20</td>      <td>100</td>      <td>40</td>    </tr>    <tr>      <th>12</th>      <td>yr13</td>      <td>56</td>      <td>43</td>      <td>261</td>      <td>339</td>      <td>173</td>      <td>78</td>      <td>89</td>      <td>26</td>      <td>38</td>      <td>129</td>      <td>52</td>      <td>220</td>      <td>25</td>      <td>74</td>      <td>40</td>      <td>622</td>      <td>131</td>      <td>53</td>      <td>251</td>      <td>2256</td>      <td>57</td>      <td>196</td>      <td>26</td>      <td>25</td>      <td>155</td>      <td>57</td>      <td>1246</td>      <td>462</td>      <td>165</td>      <td>512</td>      <td>53</td>      <td>201</td>      <td>93</td>      <td>82</td>      <td>109</td>      <td>17</td>      <td>29</td>      <td>47</td>      <td>94</td>      <td>103</td>      <td>138</td>      <td>21</td>      <td>111</td>      <td>40</td>    </tr>    <tr>      <th>13</th>      <td>yr14</td>      <td>58</td>      <td>45</td>      <td>267</td>      <td>337</td>      <td>182</td>      <td>81</td>      <td>91</td>      <td>25</td>      <td>40</td>      <td>133</td>      <td>51</td>      <td>224</td>      <td>27</td>      <td>78</td>      <td>43</td>      <td>645</td>      <td>137</td>      <td>52</td>      <td>264</td>      <td>2261</td>      <td>61</td>      <td>199</td>      <td>26</td>      <td>26</td>      <td>165</td>      <td>53</td>      <td>1420</td>      <td>474</td>      <td>165</td>      <td>509</td>      <td>57</td>      <td>206</td>      <td>97</td>      <td>89</td>      <td>110</td>      <td>17</td>      <td>31</td>      <td>49</td>      <td>98</td>      <td>116</td>      <td>143</td>      <td>22</td>      <td>113</td>      <td>39</td>    </tr>    <tr>      <th>14</th>      <td>yr15</td>      <td>58</td>      <td>46</td>      <td>271</td>      <td>339</td>      <td>183</td>      <td>82</td>      <td>91</td>      <td>26</td>      <td>39</td>      <td>140</td>      <td>53</td>      <td>222</td>      <td>27</td>      <td>81</td>      <td>51</td>      <td>647</td>      <td>138</td>      <td>51</td>      <td>270</td>      <td>2308</td>      <td>67</td>      <td>210</td>      <td>28</td>      <td>26</td>      <td>167</td>      <td>56</td>      <td>1615</td>      <td>499</td>      <td>176</td>      <td>524</td>      <td>61</td>      <td>212</td>      <td>100</td>      <td>96</td>      <td>112</td>      <td>18</td>      <td>31</td>      <td>53</td>      <td>99</td>      <td>126</td>      <td>156</td>      <td>23</td>      <td>120</td>      <td>42</td>    </tr>    <tr>      <th>15</th>      <td>yr16</td>      <td>58</td>      <td>45</td>      <td>272</td>      <td>337</td>      <td>186</td>      <td>81</td>      <td>92</td>      <td>26</td>      <td>39</td>      <td>143</td>      <td>52</td>      <td>223</td>      <td>27</td>      <td>84</td>      <td>51</td>      <td>651</td>      <td>141</td>      <td>47</td>      <td>273</td>      <td>2319</td>      <td>67</td>      <td>216</td>      <td>28</td>      <td>27</td>      <td>178</td>      <td>55</td>      <td>1782</td>      <td>514</td>      <td>179</td>      <td>523</td>      <td>67</td>      <td>214</td>      <td>102</td>      <td>99</td>      <td>113</td>      <td>17</td>      <td>32</td>      <td>62</td>      <td>105</td>      <td>122</td>      <td>173</td>      <td>26</td>      <td>123</td>      <td>45</td>    </tr>    <tr>      <th>16</th>      <td>yr17</td>      <td>58</td>      <td>46</td>      <td>268</td>      <td>346</td>      <td>184</td>      <td>80</td>      <td>97</td>      <td>25</td>      <td>40</td>      <td>142</td>      <td>50</td>      <td>219</td>      <td>27</td>      <td>93</td>      <td>61</td>      <td>670</td>      <td>137</td>      <td>48</td>      <td>278</td>      <td>2297</td>      <td>73</td>      <td>223</td>      <td>30</td>      <td>28</td>      <td>182</td>      <td>62</td>      <td>1950</td>      <td>533</td>      <td>183</td>      <td>523</td>      <td>67</td>      <td>218</td>      <td>105</td>      <td>101</td>      <td>118</td>      <td>17</td>      <td>35</td>      <td>65</td>      <td>106</td>      <td>126</td>      <td>180</td>      <td>26</td>      <td>136</td>      <td>46</td>    </tr>    <tr>      <th>17</th>      <td>yr18</td>      <td>57</td>      <td>46</td>      <td>265</td>      <td>328</td>      <td>184</td>      <td>80</td>      <td>96</td>      <td>25</td>      <td>40</td>      <td>144</td>      <td>50</td>      <td>211</td>      <td>28</td>      <td>100</td>      <td>66</td>      <td>672</td>      <td>138</td>      <td>48</td>      <td>277</td>      <td>2338</td>      <td>74</td>      <td>236</td>      <td>31</td>      <td>28</td>      <td>181</td>      <td>58</td>      <td>2099</td>      <td>568</td>      <td>183</td>      <td>518</td>      <td>73</td>      <td>227</td>      <td>110</td>      <td>105</td>      <td>122</td>      <td>17</td>      <td>37</td>      <td>69</td>      <td>110</td>      <td>135</td>      <td>191</td>      <td>26</td>      <td>140</td>      <td>50</td>    </tr>    <tr>      <th>18</th>      <td>yr19</td>      <td>58</td>      <td>45</td>      <td>267</td>      <td>331</td>      <td>182</td>      <td>79</td>      <td>98</td>      <td>25</td>      <td>40</td>      <td>139</td>      <td>50</td>      <td>208</td>      <td>32</td>      <td>99</td>      <td>70</td>      <td>687</td>      <td>135</td>      <td>50</td>      <td>273</td>      <td>2278</td>      <td>78</td>      <td>249</td>      <td>30</td>      <td>30</td>      <td>180</td>      <td>65</td>      <td>2155</td>      <td>600</td>      <td>186</td>      <td>498</td>      <td>77</td>      <td>232</td>      <td>106</td>      <td>108</td>      <td>127</td>      <td>18</td>      <td>37</td>      <td>72</td>      <td>113</td>      <td>145</td>      <td>205</td>      <td>29</td>      <td>157</td>      <td>60</td>    </tr>    <tr>      <th>19</th>      <td>yr20</td>      <td>56</td>      <td>43</td>      <td>255</td>      <td>310</td>      <td>170</td>      <td>78</td>      <td>94</td>      <td>24</td>      <td>35</td>      <td>128</td>      <td>45</td>      <td>196</td>      <td>32</td>      <td>99</td>      <td>63</td>      <td>646</td>      <td>114</td>      <td>44</td>      <td>261</td>      <td>2165</td>      <td>76</td>      <td>241</td>      <td>30</td>      <td>31</td>      <td>180</td>      <td>65</td>      <td>2297</td>      <td>666</td>      <td>199</td>      <td>475</td>      <td>73</td>      <td>234</td>      <td>103</td>      <td>108</td>      <td>127</td>      <td>18</td>      <td>41</td>      <td>74</td>      <td>111</td>      <td>147</td>      <td>204</td>      <td>31</td>      <td>167</td>      <td>64</td>    </tr>    <tr>      <th>20</th>      <td>yr21</td>      <td>60</td>      <td>45</td>      <td>263</td>      <td>326</td>      <td>174</td>      <td>84</td>      <td>101</td>      <td>23</td>      <td>35</td>      <td>128</td>      <td>51</td>      <td>203</td>      <td>30</td>      <td>106</td>      <td>69</td>      <td>688</td>      <td>132</td>      <td>43</td>      <td>263</td>      <td>2218</td>      <td>79</td>      <td>266</td>      <td>31</td>      <td>31</td>      <td>175</td>      <td>72</td>      <td>2536</td>      <td>700</td>      <td>207</td>      <td>501</td>      <td>74</td>      <td>256</td>      <td>111</td>      <td>118</td>      <td>127</td>      <td>19</td>      <td>40</td>      <td>73</td>      <td>127</td>      <td>138</td>      <td>204</td>      <td>32</td>      <td>185</td>      <td>61</td>    </tr>    <tr>      <th>21</th>      <td>yr22</td>      <td>56</td>      <td>44</td>      <td>254</td>      <td>310</td>      <td>168</td>      <td>78</td>      <td>101</td>      <td>23</td>      <td>36</td>      <td>126</td>      <td>50</td>      <td>189</td>      <td>27</td>      <td>113</td>      <td>77</td>      <td>721</td>      <td>126</td>      <td>47</td>      <td>267</td>      <td>2192</td>      <td>81</td>      <td>270</td>      <td>34</td>      <td>31</td>      <td>184</td>      <td>67</td>      <td>2723</td>      <td>734</td>      <td>199</td>      <td>463</td>      <td>77</td>      <td>267</td>      <td>109</td>      <td>118</td>      <td>128</td>      <td>18</td>      <td>42</td>      <td>76</td>      <td>139</td>      <td>141</td>      <td>208</td>      <td>31</td>      <td>177</td>      <td>60</td>    </tr>    <tr>      <th>22</th>      <td>yr23</td>      <td>54</td>      <td>43</td>      <td>254</td>      <td>311</td>      <td>161</td>      <td>78</td>      <td>98</td>      <td>21</td>      <td>35</td>      <td>126</td>      <td>50</td>      <td>194</td>      <td>28</td>      <td>117</td>      <td>74</td>      <td>739</td>      <td>122</td>      <td>48</td>      <td>268</td>      <td>2152</td>      <td>81</td>      <td>281</td>      <td>37</td>      <td>32</td>      <td>192</td>      <td>73</td>      <td>2821</td>      <td>766</td>      <td>209</td>      <td>453</td>      <td>79</td>      <td>271</td>      <td>107</td>      <td>126</td>      <td>127</td>      <td>19</td>      <td>46</td>      <td>79</td>      <td>140</td>      <td>135</td>      <td>217</td>   

In [31]:
# ====== Connection ====== #
# Connection to Mongo
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

# Connection to the database
db = client.Project2

# Connection to the collection
collection = db.TEC2

In [32]:
# Read the row from datafile7 to create a dictionary
for _, row in data_file_pd7.iterrows():
   dic = {
       'Year':row["Year"],
       'Belgium': row["Belgium"], 
       'Czech Republic': row["Czech Republic"],
       'France': row["France"],
       'Germany': row["Germany"],
       'Italy': row["Italy"],
       'Netherlands': row["Netherlands"], 
       'Poland': row["Poland"],
       'Portugal': row["Portugal"],   
       'Romania': row["Romania"],
       'Spain': row["Spain"],
       'Sweden': row["Sweden"],
       'United Kingdom': row["United Kingdom"],
       'Norway': row["Norway"],
       'Turkey': row["Turkey"],
       'Kazakhstan': row["Kazakhstan"],
       'Russia': row["Russia"],
       'Ukraine': row["Ukraine"],
       'Uzbekistan': row["Uzbekistan"],
       'Canada': row["Canada"],
       'United States': row["United States"],
       'Argentina': row["Argentina"],
        'Brazil': row["Brazil"],
        'Chile': row["Chile"],
        'Colombia': row["Colombia"],
        'Mexico': row["Mexico"],
        'Venezuela': row["Venezuela"],
        'China': row["China"],
        'India': row["India"],
        'Indonesia': row["Indonesia"],      
        'Japan': row["Japan"],
       'Malaysia': row["Malaysia"],
       'South Korea': row["South Korea"],
       'Taiwan': row["Taiwan"],
       'Thailand': row["Thailand"],
        'Australia': row["Australia"],
        'New Zealand': row["New Zealand"],
        'Algeria': row["Algeria"],
        'Egypt': row["Egypt"],
        'Nigeria': row["Nigeria"],
        'South Africa': row["South Africa"],
        'Iran': row["Iran"],
        'Kuwait': row["Kuwait"],
        'Saudi Arabia': row["Saudi Arabia"],
        'United Arab Emirates': row["United Arab Emirates"]  
       
   }


   #insert dictionary into mongo
   #collection.insert_one(dic)

In [33]:
# Save path to data set in a variable
data_file8 = "C:\\Users\\taiwo\\OneDrive\\Desktop\\PREWORK_TO\\Module 16\\Project2\\Data Files\\TEP2.csv"

In [34]:
# Use Pandas to read data
data_file_pd8 = pd.read_csv(data_file8)
data_file_pd8.head()

,Year,Belgium,Czech Republic,France,Germany,Italy,Netherlands,Poland,Portugal,Romania,...,Australia,New Zealand,Algeria,Egypt,Nigeria,South Africa,Iran,Kuwait,Saudi Arabia,United Arab Emirates
0,1990,13,41,112,190,26,61,104,3,41,...,157,12,100,55,146,115,188,50,368,110
1,1991,13,39,119,169,26,68,100,3,36,...,167,13,103,56,152,117,200,10,464,127
2,1992,13,37,120,164,28,68,98,3,34,...,171,13,104,57,158,115,215,60,477,134
3,1993,12,36,126,153,29,69,97,3,33,...,174,14,105,60,160,123,228,107,472,131
4,1994,12,34,124,145,30,67,98,3,32,...,173,13,101,59,162,128,231,114,462,134

In [35]:
# data_file_pd8['Year'] = data_file_pd8['Year'].astype(str)
# data_file_pd8.dtypes

In [36]:
data_file_pd8 = data_file_pd8.drop([x for x in range(0,28)])
data_file_pd8

,Year,Belgium,Czech Republic,France,Germany,Italy,Netherlands,Poland,Portugal,Romania,...,Australia,New Zealand,Algeria,Egypt,Nigeria,South Africa,Iran,Kuwait,Saudi Arabia,United Arab Emirates
28,2018,12,28,135,115,36,31,64,6,25,...,426,15,151,80,256,164,418,168,676,234

In [37]:
data_file_pd8=data_file_pd8.transpose()
data_file_pd8.head()

                  28
Year            2018
Belgium           12
Czech Republic    28
France           135
Germany          115

In [38]:
#convert dataframe to HTML- TEP2
html_table = data_file_pd8.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>28</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Year</th>\n      <td>2018</td>\n    </tr>\n    <tr>\n      <th>Belgium</th>\n      <td>12</td>\n    </tr>\n    <tr>\n      <th>Czech Republic</th>\n      <td>28</td>\n    </tr>\n    <tr>\n      <th>France</th>\n      <td>135</td>\n    </tr>\n    <tr>\n      <th>Germany</th>\n      <td>115</td>\n    </tr>\n    <tr>\n      <th>Italy</th>\n      <td>36</td>\n    </tr>\n    <tr>\n      <th>Netherlands</th>\n      <td>31</td>\n    </tr>\n    <tr>\n      <th>Poland</th>\n      <td>64</td>\n    </tr>\n    <tr>\n      <th>Portugal</th>\n      <td>6</td>\n    </tr>\n    <tr>\n      <th>Romania</th>\n      <td>25</td>\n    </tr>\n    <tr>\n      <th>Spain</th>\n      <td>34</td>\n    </tr>\n    <tr>\n      <th>Sweden</th>\n      <td>37</td>\n    </tr>\n    <tr>\n      <th>United Kingdom</th>\n      <td>124</td>\n    </tr>\n    <tr>\n      <th>Norway</th>\n      <td>207</td>\n    </tr>\n    <tr>\n      <th>Turkey</th>\n      <td>43</td>\n    </tr>\n    <tr>\n      <th>Kazakhstan</th>\n      <td>190</td>\n    </tr>\n    <tr>\n      <th>Russia</th>\n      <td>1492</td>\n    </tr>\n    <tr>\n      <th>Ukraine</th>\n      <td>58</td>\n    </tr>\n    <tr>\n      <th>Uzbekistan</th>\n      <td>54</td>\n    </tr>\n    <tr>\n      <th>Canada</th>\n      <td>526</td>\n    </tr>\n    <tr>\n      <th>United States</th>\n      <td>2175</td>\n    </tr>\n    <tr>\n      <th>Argentina</th>\n      <td>77</td>\n    </tr>\n    <tr>\n      <th>Brazil</th>\n      <td>292</td>\n    </tr>\n    <tr>\n      <th>Chile</th>\n      <td>13</td>\n    </tr>\n    <tr>\n      <th>Colombia</th>\n      <td>119</td>\n    </tr>\n    <tr>\n      <th>Mexico</th>\n      <td>158</td>\n    </tr>\n    <tr>\n      <th>Venezuela</th>\n      <td>112</td>\n    </tr>\n    <tr>\n      <th>China</th>\n      <td>2534</td>\n    </tr>\n    <tr>\n      <th>India</th>\n      <td>588</td>\n    </tr>\n    <tr>\n      <th>Indonesia</th>\n      <td>441</td>\n    </tr>\n    <tr>\n      <th>Japan</th>\n      <td>48</td>\n    </tr>\n    <tr>\n      <th>Malaysia</th>\n      <td>98</td>\n    </tr>\n    <tr>\n      <th>South Korea</th>\n      <td>61</td>\n    </tr>\n    <tr>\n      <th>Taiwan</th>\n      <td>10</td>\n    </tr>\n    <tr>\n      <th>Thailand</th>\n      <td>74</td>\n    </tr>\n    <tr>\n      <th>Australia</th>\n      <td>426</td>\n    </tr>\n    <tr>\n      <th>New Zealand</th>\n      <td>15</td>\n    </tr>\n    <tr>\n      <th>Algeria</th>\n      <td>151</td>\n    </tr>\n    <tr>\n      <th>Egypt</th>\n      <td>80</td>\n    </tr>\n    <tr>\n      <th>Nigeria</th>\n      <td>256</td>\n    </tr>\n    <tr>\n      <th>South Africa</th>\n      <td>164</td>\n    </tr>\n    <tr>\n      <th>Iran</th>\n      <td>418</td>\n    </tr>\n    <tr>\n      <th>Kuwait</th>\n      <td>168</td>\n    </tr>\n    <tr>\n      <th>Saudi Arabia</th>\n      <td>676</td>\n    </tr>\n    <tr>\n      <th>United Arab Emirates</th>\n      <td>234</td>\n    </tr>\n  </tbody>\n</table>'

In [39]:
html_table = html_table.replace('\n',"")
html_table

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>28</th>    </tr>  </thead>  <tbody>    <tr>      <th>Year</th>      <td>2018</td>    </tr>    <tr>      <th>Belgium</th>      <td>12</td>    </tr>    <tr>      <th>Czech Republic</th>      <td>28</td>    </tr>    <tr>      <th>France</th>      <td>135</td>    </tr>    <tr>      <th>Germany</th>      <td>115</td>    </tr>    <tr>      <th>Italy</th>      <td>36</td>    </tr>    <tr>      <th>Netherlands</th>      <td>31</td>    </tr>    <tr>      <th>Poland</th>      <td>64</td>    </tr>    <tr>      <th>Portugal</th>      <td>6</td>    </tr>    <tr>      <th>Romania</th>      <td>25</td>    </tr>    <tr>      <th>Spain</th>      <td>34</td>    </tr>    <tr>      <th>Sweden</th>      <td>37</td>    </tr>    <tr>      <th>United Kingdom</th>      <td>124</td>    </tr>    <tr>      <th>Norway</th>      <td>207</td>    </tr>    <tr>      <th>Turkey</th>      <td>43</td>    </tr>    <tr>      <th>Kazakhstan</th>      <td>190</td>    </tr>    <tr>      <th>Russia</th>      <td>1492</td>    </tr>    <tr>      <th>Ukraine</th>      <td>58</td>    </tr>    <tr>      <th>Uzbekistan</th>      <td>54</td>    </tr>    <tr>      <th>Canada</th>      <td>526</td>    </tr>    <tr>      <th>United States</th>      <td>2175</td>    </tr>    <tr>      <th>Argentina</th>      <td>77</td>    </tr>    <tr>      <th>Brazil</th>      <td>292</td>    </tr>    <tr>      <th>Chile</th>      <td>13</td>    </tr>    <tr>      <th>Colombia</th>      <td>119</td>    </tr>    <tr>      <th>Mexico</th>      <td>158</td>    </tr>    <tr>      <th>Venezuela</th>      <td>112</td>    </tr>    <tr>      <th>China</th>      <td>2534</td>    </tr>    <tr>      <th>India</th>      <td>588</td>    </tr>    <tr>      <th>Indonesia</th>      <td>441</td>    </tr>    <tr>      <th>Japan</th>      <td>48</td>    </tr>    <tr>      <th>Malaysia</th>      <td>98</td>    </tr>    <tr>      <th>South Korea</th>      <td>61</td>    </tr>    <tr>      <th>Taiwan</th>      <td>10</td>    </tr>    <tr>      <th>Thailand</th>      <td>74</td>    </tr>    <tr>      <th>Australia</th>      <td>426</td>    </tr>    <tr>      <th>New Zealand</th>      <td>15</td>    </tr>    <tr>      <th>Algeria</th>      <td>151</td>    </tr>    <tr>      <th>Egypt</th>      <td>80</td>    </tr>    <tr>      <th>Nigeria</th>      <td>256</td>    </tr>    <tr>      <th>South Africa</th>      <td>164</td>    </tr>    <tr>      <th>Iran</th>      <td>418</td>    </tr>    <tr>      <th>Kuwait</th>      <td>168</td>    </tr>    <tr>      <th>Saudi Arabia</th>      <td>676</td>    </tr>    <tr>      <th>United Arab Emirates</th>      <td>234</td>    </tr>  </tbody></table>'

In [40]:
# Save path to data set in a variable
data_file9 = "C:\\Users\\taiwo\\OneDrive\\Desktop\\PREWORK_TO\\Module 16\\Project2\\Data Files\\EBOT2.csv"

In [41]:
# Use Pandas to read data
data_file_pd9 = pd.read_csv(data_file9)
data_file_pd9.head()

,Year,Belgium,Czech Republic,France,Germany,Italy,Netherlands,Poland,Portugal,Romania,...,Australia,New Zealand,Algeria,Egypt,Nigeria,South Africa,Iran,Kuwait,Saudi Arabia,United Arab Emirates
0,1990,39.7,7.6,120.0,167.1,131.6,19.0,1.3,15.3,22.0,...,-63.4,2.1,-77.3,-20.8,-79.4,-21.9,-117.6,-41.3,-307.0,-80.5
1,1991,42.4,7.0,126.8,181.0,130.9,15.5,1.4,15.2,14.5,...,-78.7,1.9,-78.5,-20.8,-82.4,-21.7,-122.6,-7.6,-391.9,-91.2
2,1992,43.4,7.0,124.5,187.9,133.4,15.2,1.9,16.7,13.7,...,-81.8,2.0,-79.6,-22.9,-85.2,-23.8,-133.0,-50.5,-395.8,-99.1
3,1993,41.8,6.8,116.4,189.6,127.3,14.4,3.0,16.0,12.3,...,-83.3,2.0,-80.0,-23.5,-86.5,-26.4,-139.6,-93.9,-387.5,-95.0
4,1994,45.7,7.7,113.4,193.2,126.3,18.7,0.7,16.3,11.0,...,-82.3,2.8,-76.8,-23.3,-89.2,-27.0,-133.4,-98.6,-373.9,-93.7

In [42]:
data_file_pd9 = data_file_pd9.drop([x for x in range(0,28)])
data_file_pd9

,Year,Belgium,Czech Republic,France,Germany,Italy,Netherlands,Poland,Portugal,Romania,...,Australia,New Zealand,Algeria,Egypt,Nigeria,South Africa,Iran,Kuwait,Saudi Arabia,United Arab Emirates
28,2018,50.8,15.8,116.9,198.8,120.7,52.9,46.6,17.6,7.9,...,-289.4,6.8,-91.5,10.5,-101.3,-18.7,-150.5,-133.1,-459.3,-130.5

In [43]:
# data_file_pd9.transpose().head()

In [44]:
#convert dataframe to HTML - EBOT2
html_table = data_file_pd9.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Year</th>\n      <th>Belgium</th>\n      <th>Czech Republic</th>\n      <th>France</th>\n      <th>Germany</th>\n      <th>Italy</th>\n      <th>Netherlands</th>\n      <th>Poland</th>\n      <th>Portugal</th>\n      <th>Romania</th>\n      <th>Spain</th>\n      <th>Sweden</th>\n      <th>United Kingdom</th>\n      <th>Norway</th>\n      <th>Turkey</th>\n      <th>Kazakhstan</th>\n      <th>Russia</th>\n      <th>Ukraine</th>\n      <th>Uzbekistan</th>\n      <th>Canada</th>\n      <th>United States</th>\n      <th>Argentina</th>\n      <th>Brazil</th>\n      <th>Chile</th>\n      <th>Colombia</th>\n      <th>Mexico</th>\n      <th>Venezuela</th>\n      <th>China</th>\n      <th>India</th>\n      <th>Indonesia</th>\n      <th>Japan</th>\n      <th>Malaysia</th>\n      <th>South Korea</th>\n      <th>Taiwan</th>\n      <th>Thailand</th>\n      <th>Australia</th>\n      <th>New Zealand</th>\n      <th>Algeria</th>\n      <th>Egypt</th>\n      <th>Nigeria</th>\n      <th>South Africa</th>\n      <th>Iran</th>\n      <th>Kuwait</th>\n      <th>Saudi Arabia</th>\n      <th>United Arab Emirates</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>28</th>\n      <td>2018</td>\n      <td>50.8</td>\n      <td>15.8</td>\n      <td>116.9</td>\n      <td>198.8</td>\n      <td>120.7</td>\n      <td>52.9</td>\n      <td>46.6</td>\n      <td>17.6</td>\n      <td>7.9</td>\n      <td>102.0</td>\n      <td>16.2</td>\n      <td>66.0</td>\n      <td>-175.5</td>\n      <td>110.3</td>\n      <td>-97.5</td>\n      <td>-673.3</td>\n      <td>31.6</td>\n      <td>-14.0</td>\n      <td>-227.3</td>\n      <td>51.4</td>\n      <td>9.0</td>\n      <td>1.5</td>\n      <td>26.9</td>\n      <td>-86.0</td>\n      <td>28.6</td>\n      <td>-62.5</td>\n      <td>693.8</td>\n      <td>346.0</td>\n      <td>-189.4</td>\n      <td>392.3</td>\n      <td>-2.1</td>\n      <td>260.3</td>\n      <td>105.9</td>\n      <td>77.7</td>\n      <td>-289.4</td>\n      <td>6.8</td>\n      <td>-91.5</td>\n      <td>10.5</td>\n      <td>-101.3</td>\n      <td>-18.7</td>\n      <td>-150.5</td>\n      <td>-133.1</td>\n      <td>-459.3</td>\n      <td>-130.5</td>\n    </tr>\n  </tbody>\n</table>'

In [45]:
html_table = html_table.replace('\n',"")
html_table

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Year</th>      <th>Belgium</th>      <th>Czech Republic</th>      <th>France</th>      <th>Germany</th>      <th>Italy</th>      <th>Netherlands</th>      <th>Poland</th>      <th>Portugal</th>      <th>Romania</th>      <th>Spain</th>      <th>Sweden</th>      <th>United Kingdom</th>      <th>Norway</th>      <th>Turkey</th>      <th>Kazakhstan</th>      <th>Russia</th>      <th>Ukraine</th>      <th>Uzbekistan</th>      <th>Canada</th>      <th>United States</th>      <th>Argentina</th>      <th>Brazil</th>      <th>Chile</th>      <th>Colombia</th>      <th>Mexico</th>      <th>Venezuela</th>      <th>China</th>      <th>India</th>      <th>Indonesia</th>      <th>Japan</th>      <th>Malaysia</th>      <th>South Korea</th>      <th>Taiwan</th>      <th>Thailand</th>      <th>Australia</th>      <th>New Zealand</th>      <th>Algeria</th>      <th>Egypt</th>      <th>Nigeria</th>      <th>South Africa</th>      <th>Iran</th>      <th>Kuwait</th>      <th>Saudi Arabia</th>      <th>United Arab Emirates</th>    </tr>  </thead>  <tbody>    <tr>      <th>28</th>      <td>2018</td>      <td>50.8</td>      <td>15.8</td>      <td>116.9</td>      <td>198.8</td>      <td>120.7</td>      <td>52.9</td>      <td>46.6</td>      <td>17.6</td>      <td>7.9</td>      <td>102.0</td>      <td>16.2</td>      <td>66.0</td>      <td>-175.5</td>      <td>110.3</td>      <td>-97.5</td>      <td>-673.3</td>      <td>31.6</td>      <td>-14.0</td>      <td>-227.3</td>      <td>51.4</td>      <td>9.0</td>      <td>1.5</td>      <td>26.9</td>      <td>-86.0</td>      <td>28.6</td>      <td>-62.5</td>      <td>693.8</td>      <td>346.0</td>      <td>-189.4</td>      <td>392.3</td>      <td>-2.1</td>      <td>260.3</td>      <td>105.9</td>      <td>77.7</td>      <td>-289.4</td>      <td>6.8</td>      <td>-91.5</td>      <td>10.5</td>      <td>-101.3</td>      <td>-18.7</td>      <td>-150.5</td>      <td>-133.1</td>      <td>-459.3</td>      <td>-130.5</td>    </tr>  </tbody></table>'